* {
  font-family: monospace;
  font-size: 11pt;
}

.light {
  color: #202340;
  min-height: 100rem;
}

.dark {
  background-color: #202340;
  color: #b1b1b3;
  min-height: 100rem;
}

.header-span {
  padding-right: 5rem;
}

.header-link {
  text-decoration: none;
  color: #202340;
}

.dark .header-link {
  text-decoration: none;
  color: #b1b1b3;
}

@media only screen and (max-width: 57rem) {
  .header {
    width: 100%;
    padding: 2rem;
  }

  .header-span {
    padding-right: 3rem;
  }
}

@media only screen and (max-width: 34rem) {
  .header {
    width: 100%;
    padding: 1.5rem;
  }

  .header-span {
    padding-right: 1.2rem;
  }
}
