* {
  font-family: monospace;
  font-size: 11pt;
  color: #202340;
}

.header-span {
  margin-right: 5rem;
}

.header-link {
  text-decoration: none;
  color: black;
}

@media only screen and (max-width: 57rem) {
  .container {
    max-width: 50rem;
    margin: 2rem 2rem 5rem 2rem;
  }

  .header {
    max-width: 50rem;
    margin: 2rem;
  }
}
