@import url('https://fonts.googleapis.com/css?family=Source+Serif+Pro&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

.index-title {
  text-decoration: none;
  font-size: 15pt;
  color: #202340;
}

.dark .index-title {
  color: #b1b1b3;
}

.index-content {
  padding-top: 0.75em;
  color: #38383d;
}

.dark .index-content {
  color: #b1b1b3;
}

.content a {
  color: #38383d;
}

.dark .content a {
  color: #b1b1b3;
}

p, blockquote {
  padding-top: 1rem;
}

h2 {
  padding-top: 2.5rem;
}

.title,
.date,
.author {
  font-family: 'Raleway', sans-serif;
}

h1 {
  font-size: 32pt;
  text-decoration: none;
  color: #202340;
  margin: 0;
}

.dark h1 {
  color: #b1b1b3;
}

.dark .author, .dark .date {
  color: #b1b1b3;
}

.author, .date {
  font-size: 13pt;
  color: #38383d;
}

.content {
  padding-top: 1rem;
  padding-bottom: 3rem;
}

.content * {
  font-family: 'Source Serif Pro', serif;
  font-size: 14pt;
  line-height: 1.45em;
}

.content h2 {
  padding-left: 2%;
  border-bottom-style: solid;
  border-bottom-color: #b1b1b3;
  border-bottom-width: 1px;
  font-family: 'Raleway', sans-serif;
  color: #c44e27;
  font-size: 28pt;
  font-weight: 100;
  padding-bottom: 0;
}

.content blockquote {
  font-size: 12.5pt;
  margin-right: 0;
}

h2.subhed {
  margin-bottom: 0;
}

h2.subhed + p {
  padding-top: 1rem;
  margin-top: 0;
}

.content sub {
  font-size: 11pt;
}
